.address {
    padding-top: 20px;

    &__contact {
    margin-bottom: 9px;}
   }

.address-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.71;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    color: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);}
}




