.agreement-box {
    position: relative;
    margin-bottom: 30px;

    @media screen and (min-width: $bpDesktop){
        padding: 0 12px 0 12px;
    }
}



.agreement {
    display: inline-block;
    position: relative;
    padding-left: 24px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-main);

    @media screen and (min-width: $bpDesktop){
        font-size: 14px;
            line-height: 1.71;
            padding-left: 36px;
    }

    &__modal {
    position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    height: 15px;
    transform: translateY(-50%);
    opacity: 0;

    @media screen and (min-width: $bpDesktop){
        left: 13px;
    }
}

&__vector {
    position: absolute;
    left: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);

    width: 16px;
    height: 15px;
    border: 2px solid var(--color-secondary);

    @media screen and (min-width: $bpDesktop) {
            left: 13px;
        }
}

&__modal:checked+&__vector {
    background-color: var(--color-icon-hover);
    border: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
&__link {
    color: var(--color-icon-hover);
}
}

