.button {
    display: block;
    padding: 10px 24px;
    margin: 0 auto;
    cursor: pointer;
    background-color: var(--color-icon-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    width: 200px;
    height: 50px;

    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.057em;
    color: #ffffff;
    line-height: 1.87;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: #188CE8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
@media screen and (min-width: $bpDesktop ) {
    width: 216px;
    height: 50px;
    padding: 10px 32px;
}
}

.button-form {
    display: inline-flex;
    padding: 10px 28px;
    width: 200px;
    height: 50px;
}

.button-icon {
    fill: var(--color-beckground);
    margin-left: 10px;
}



.button__modal {
    display: block;
    padding: 10px 52px;
    margin: 0 auto;
    cursor: pointer;
    background-color: var(--color-icon-hover);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: #188ce8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

