.clients-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
       

    @media screen and (min-width: $bpTablet) {
            flex-direction: row;
             width: 768px;
        }
    
        @media screen and (min-width: $bpDesktop) {
            flex-wrap: nowrap;
            align-items: flex-start;
            width: 100%;
         }

         &__card{
            width: calc((100% - 30px)/2);

            @media screen and (min-width: $bpTablet){
                    width: calc((100% - 60px)/3)
            }
         }

&__link {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 210px;
    height: 92px;
    box-sizing: border-box;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: var(--color-icon);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $bpTablet) {
           max-width: 226px;
        }
    
        @media screen and (min-width: $bpDesktop) {
         max-width: 170px;
             
        }


}

&__link:hover,
&__link:focus {
    fill: var(--color-icon-hover);
    border-color: var(--color-icon-hover);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}


