.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    fill: var(--color-main);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $bpDesktop){
        font-size: 14px;
        line-height: 1.14;
    }

&:hover,
&:focus {
    color: var(--color-icon-hover);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--color-icon-hover);
}
&--grey {
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff99;
    line-height: 1.71;
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}


