.feedback {
 

&__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    margin-bottom: 12px;
}

&__form-text {
    display: flex;
    font-style: normal;
    font-weight: 400;
    height: 14px;
    align-items: center;
    justify-items: center;
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.01em;
    color: var(--color-main);
}

&__box {
    position: relative;
    margin: 4px 0 10px 0;
}

&__data {
    width: 100%;
    height: 40px;
    padding: 11px 12px 11px 30px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}


&__icone {
    position: absolute;
    left: 12px;
    top: 11px;
    fill: #212121;
}

&__data:hover,
&__data:focus {
    border: 1px solid var(--color-icon-hover);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__data:hover+&__icone,
&__data:focus-within &__icone {
    fill: var(--color-icon-hover);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__comment {
    width: 100%;
    height: 120px;
    margin: 4px 0 20px 0;
    padding: 12px 16px;
    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    outline: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

&__comment:hover,
&__comment:focus {
    border: 1px solid var(--color-icon-hover);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

