.footer {
    background-color: #2f303a;
    padding: 60px 0 60px 0;

&__box-contact {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 60px;
    justify-content: space-between;
    max-width: 480px;

    @media screen and (min-width: $bpTablet){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 768px;
        align-items: baseline;
    }

    @media screen and (min-width: $bpDesktop){
        justify-content: flex-start;
        gap: 70px;
        text-align:left ;
        max-width: 100%;
    }
}

&__box-net,
&__box-form {
    padding-top: 12px;
}
&__text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 20px;
}

}

