
.form-mail {
    margin-left: 23px;

&__text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 20px;
}

&__box {
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

&__field {
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    width: 358px;
    padding-left: 16px;
}

&__field:hover,
&__field:focus {
    border: 1px solid var(--color-icon-hover);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

}


