.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
    cursor: pointer;

    @media screen and (min-width: $bpDesktop){
    font-size: 26px;
    line-height: 1.19;
    }
    

&__web {
    color: #2196f3;
}

&__studio {
    color: black;
}
&__studio--white {
    color: #ffffff;
}
}

