.mobile-menu {
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
    
    display: none;
    
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
        &.is-open {
            display: block;
          }

    &__box {
      position: relative;
          padding: 48px 83px 48px 40px;
      width: 480px;
      height: 796px;
      background-color: #ffffff;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
         }


  &__button-close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;  

    background-color: #fff;
    border: none;     
    cursor: pointer;  
      fill: var(--color-secondary); 
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button-close:hover,
  &__button-close:focus{
    fill: var(--color-icon-hover);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

   &__nav{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 1.17;
      text-align: left;
      letter-spacing: 0.02em;
      padding-bottom: 64px;
  }

  &__link-studio,
  &__link-portfolio,
  &__link-contact,
  &__contact-tel,
  &__contact-mail{
      display: block;
      text-decoration: none;
      cursor: pointer; 
      list-style: none;
     }

  &__link-studio{
        color: var(--color-icon-hover);
    margin-bottom: 35.7px;
  }

  &__link-portfolio{
    color: var(--color-secondary);
        margin-bottom: 32px;}

 &__link-contact{
  color: var(--color-secondary);
      margin-bottom: 302px;
  }

     &__contact-tel{
            color: var(--color-icon-hover);
            margin-bottom: 32px;
     }

   &__contact-mail{
        color: var(--color-main);
           }

      &__list-net{
        display: flex;
        gap: 10px;
      }          

     &__link {
  
  text-decoration: none;
  cursor: pointer;
  list-style: none;

      display: inline-block;
      margin-right: 20px;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em; 
      color: var(--color-icon-hover);
     }

      &__link:last-child{
       margin-right: 0;
     }   
    
 }

