.mobile-menu {
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
    
    display: none;
    
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
        &.is-open {
            display: block;
          }

    &__box {

       min-height: 100%;
      display: flex;
        flex-direction: column;
        justify-content: space-between;
       
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        position: relative;
        padding: 48px 83px 48px 40px;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0.02em;
      line-height: 1.17;

      background-color: #ffffff;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
         }


  &__button-close{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;  

    background-color: #fff;
    border: none;     
    cursor: pointer;  
      fill: var(--color-secondary); 
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button-close:hover,
  &__button-close:focus{
    fill: var(--color-icon-hover);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

   &__nav{
      font-size: 40px;
       text-align: left;
       margin-bottom: auto;
  }

  &__link-studio,
  &__link-portfolio,
  &__link-contact,
  &__contact-tel,
  &__contact-mail{
      display: block;
      text-decoration: none;
      cursor: pointer; 
      list-style: none;
     }

  &__link-studio{
        color: var(--color-icon-hover);
    margin-bottom: 35.7px;
  }

  &__link-portfolio{
    color: var(--color-secondary);
        margin-bottom: 32px;}

 &__link-contact{
  color: var(--color-secondary);
      
  }

     &__contact-tel{
      font-size: 34px;
            color: var(--color-icon-hover);
            margin-bottom: 32px;
     }

   &__contact-mail{
        font-size: 24px;
        color: var(--color-main);
        padding-bottom: 64px;
           }

      &__list-net{
        position: relative;
        display: flex;
        gap: 20px;
      }          

     &__link,
     &__inst,
      &__twit,
      &__face{
  
  text-decoration: none;
  cursor: pointer;
  list-style: none;

      display: flex;
            
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em; 
      color: var(--color-icon-hover);
   
     }

     &__inst::after{
      display: inline-block;
        content: "";
        width: 22px;
        height: 0;
        
        position: absolute;
        left: 85px;
        bottom: 9px;
        
        border-radius: 2px;
        border: 1px solid rgba(33, 33, 33, 0.2);
          transform: rotate(90deg);

     }

        &__twit::after{
          display: inline-block;
            content: "";
            width: 22px;
            height: 0;
          
            position: absolute;
            left: 162px;
            bottom: 9px;
          
            border-radius: 2px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
        }

         &__face::after {
           display: inline-block;
           content: "";
           width: 22px;
           height: 0;

           position: absolute;
          left: 264px;
           bottom: 9px;

           border-radius: 2px;
           border: 1px solid rgba(33, 33, 33, 0.2);
           transform: rotate(90deg);
                }
    
 }

