.modal-hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

&__modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    max-width: 449px;
     width: calc(100% - 30px);
    height: auto;
    background-color: #ffffff;
    padding: 40px;

    @media screen and (min-width: $bpMobil){
        max-width: 450px;
        height: 609px;
    }

    @media screen and (min-width: $bpDesktop){
         max-width: 528px;
        height: 581px;
    }
}

&__button-close {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;

    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

&__button-icone {
    fill: black;
}

&__button-close:hover &__button-icone,
&__button-close:focus &__button-icone {
    fill: var(--color-icon-hover);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

.modal-hero.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-hero.is-hidden .modal-hero__modal-box {
    transform: translate(-50%, -50%) scale(0.5);
}

