.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc((100% - 60px) / 3);
}

.portfolio {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

&__box {
    position: relative;
    overflow: hidden;
}

&:hover,
&:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__border {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: 0;

    line-height: 1.87;
}

&__project {
    margin: 0 0 4px 0;

    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--color-secondary);
    line-height: 2;
}

&__overflow {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    bottom: 0;
    width: 370px;
    height: 294px;
    background-color: rgba(33, 150, 243, 0.9);

    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #ffffff;
}

&:hover &__overflow,
&:focus &__overflow {
    transform: translateY(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

