.section {
    padding: 94px 0;

    &__hero {
            background-color: #2f303a;
            max-width: 1600px;
             margin: 0 auto;
            background-position: center;
            background-size: cover;
            padding: 118px 0;
            background-image: $lin-gr,
                url("../images/header-img-mob.jpg");
            
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
                (min-resolution: 2dppx){
                background-image: $lin-gr,
                  url("../images/header-img-mob x2.jpg");
                }


            @media screen and (min-width: $bpTablet){
              background-image: $lin-gr,
              url("../images/header-img-tablet.jpg");

                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                    (min-resolution: 2dppx){
                        background-image: $lin-gr,
            url("../images/header-img-tablet x2.jpg");
                    }
                 }               
            

            @media screen and (min-width: $bpDesktop){
                padding: 200px 0;
                background-image: $lin-gr,
            url("../images/imges-hero.jpg");

             @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                background-image: $lin-gr,
                url("../images/header-img x2.jpg");
                   }
                }
            }

    &__hero-title{
            display: block;
             max-width: 360px;
             margin: 0 auto 30px auto;
            text-align: center;
                    
            font-size: 26px;
            line-height: 1.61;
            font-weight: 900;
             letter-spacing: 0.06em;
             color: #ffffff;
              text-transform: uppercase;

             @media screen and (min-width: $bpDesktop) {
                font-size: 44px; 
                line-height: 1.36;
                max-width: 696px;
             }
           }

    &__features {
            padding: 60px 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.71;

            @media screen and (min-width: $bpDesktop){
                padding: 94px 0;
            }
        }

    &__activity {
        padding-top: 0;
        display: none;

        @media screen and (min-width: $bpDesktop) {
            display: block;
        }
    }

    &__title {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
    
    font-weight: 700;
    color: var(--color-secondary);
    
    @media screen and (min-width: $bpDesktop) {
        font-size: 36px;
        line-height: 1.17;
        margin-bottom: 50px;
        }
}

   &__title--hidden {
    display: none;
}

   &__team {
       font-weight: 400;
       background-color: #f5f4fa;
       padding-top: 0;
       padding: 60px 0;

       @media screen and (min-width: $bpDesktop) {
        padding: 94px 0;
               }
}

               &__clients{
                padding: 60px 0;

        @media screen and (min-width: $bpDesktop) {
        padding: 94px 0;

               }
    }

}



