.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;

    @media screen and (min-width: $breakpointTablet) and (max-width:$breakpointMaxTablet){
    flex-direction:row;
}

}
.team-card {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

&__container {
    padding: 30px 0;
}

&__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    color: var(--color-secondary);
    margin: 0 0 10px 0;
}

&__speciality {
    line-height: 1.71;
    margin-bottom: 16px;
}





}