body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--color-main);
    background-color: var(--color-beckground);
    letter-spacing: 0.03em;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
p,
ul {
    padding: 0;
    margin: 0;
}

.container {
    width: $bpMobil;
    margin: 0 auto;
    padding: 0 15px;
    text-align: -webkit-center;

    @media screen and (min-width: $bpTablet){
      width: $bpTablet;
    }

    @media screen and (min-width: $bpDesktop){
     width: $bpDesktop;
    }
   }

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
