:root {
    --color-main: #757575;
    --color-secondary: #212121;
    --color-beckground: #ffffff;
    --color-icon: #afb1b8;
    --color-icon-hover: #2196f3;
}

$breakpointMobil: 480px;
$breakpointMaxMobil: 767px;
$breakpointTablet: 768px;
$breakpointMaxTablet: 1199px;
$breakpointMaxDecktop: 1200px;