:root {
    --color-main: #757575;
    --color-secondary: #212121;
    --color-beckground: #ffffff;
    --color-icon: #afb1b8;
    --color-icon-hover: #2196f3;
}

$bpMobil: 480px;
$bpMaxMobil: 767px;
$bpTablet: 768px;
$bpMaxTablet: 1199px;
$bpDesktop: 1200px;